*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body{
    background-color: black;
    font-family: 'Poppins'
}

section{
    display: flex;
    align-content: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_left{
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_center{
    width: 50vw;
}

.main_right{
    width: 30vw;
}

/* header */

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_input{
    background-image:url(img/search.png);
    background-position: 10px;
    background-repeat:no-repeat;
    padding-left:60px;
    width: 460px;
    height: 50px;
    border-radius: 10px;
    color: black;
}

.hiname{
    font-size: 35px;
}

.inance{
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 57px;
}

/* side bar */

ul{
    list-style: none;
}

.dashboard{
    background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
    color: black;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.txt_dashboard{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 41px;
}

.txt_sidebar{
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 41px;
}

.link_sidebar{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.list_link_sidebar{
    margin-top: 50px;
}

.logo_link_sidebar{
    width: 35px;
    padding-right: 10px;
}

.logout{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    font-family: 'Inter' !important;
}

/* mid */

.top_center{
    display: flex;
    align-items: center;
}

.BTC{
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: 5px;
}
.BTCtext{
    padding: 3px;
    color: black;
}
.divBTC{
    display: flex;
    align-items: center;
    justify-content: left;
}

.total_balance{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 33px;
}

.bottom_total_balance{
    font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 48px;
}

.tabs{
    background: #292727;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.selectedtabs{
    background-color: #0D0C0C;
    padding: 5px;
    border-radius: 10px;
}

.parents_tabs{
    display: flex;
    margin-left: 100px;
}

.div_graph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.graph{
    border-radius: 20px;
    width: 1000px;
    background-color: #292727;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#graph{
    height: 300px !important;
}

.bt_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.bt_top_gauche{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
.bt_top_right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
}
.bt_money{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 5px;
    gap: 5px;
}
.logo_bt_money{
    width: 30px;
}
#calendar{
    width: 20px;
}
.bt_time{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 30px;
    height: 30px;
}
.bt_time_selected{
    background-color: white !important;
}
.txt_time_selected{
    color: black;
}

.Recap_transactions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Recap_transactions a{
    text-decoration: none;
}

.graphtransac{
    width: 140px;
}

.divcoltransac{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_recap_transactions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #292727;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Inter' !important;
}

.logo_recap_transac{
    width: 39px;
    height: 39px;
}

.trade_button{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 6px;
}

/* right */

.recent_transaction_money{
    display: flex;
    align-items: center;
    padding: 8px;
    font-family: 'Inter' !important;
}

.logo_recent_transaction_money{
    width: 50px;
    padding-right: 15px;
}

.info_recent_transaction_money{
    width: 150px;
}

.recent_transaction{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
}

.div_recent_transactions{
    margin-left: 30px;
}

.assets{
    display: flex;
    background-color: blue;
    border-radius: 30px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-bottom: 10px;
    width: 400px;
    font-family: 'Inter' !important;
}

.txt_title_right{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
}

.flex_b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_assets{
    width: 70px;
}

.asset1{
    color: white;
    background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
}

.asset2{
    background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
}

.div_asset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title_assets{
    margin-left: 30px;
    margin-bottom: 5px;
}

/* color */

.color_black{
    color: black;
}

.color_green{
    color: #4AD619;
}

.color_red{
    color: #D61919;
}

.color_blue{
    color: #1970D6;
}

.color_purpule{
    color: #6C1182
}

.opacity07{
    opacity: 0.7;
}



/* responsive */

.none{
    display: none;
}

.parent_burger{
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: absolute;
    z-index: 10;
    top: 0;
}
.burger_bt{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
}

.bar{
    width: 45px;
    height: 4px;
    background-color: white;
    margin-top: 9px;
}

.bar_mid{
    width: 30px;
}

.bar_up , .bar_down{
    transition: 0.4s;
    transform: rotate(0deg);
}

.barAnimationTop{
    transform: rotate(45deg) translateY(9px);

}

.barAnimationBot{
    transform: rotate(-45deg) translateY(-9px);
}

.burger_bt_cross{
    position: absolute;
    z-index: 11;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 1000px) {
    section{
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding: 20px;
    }
    .hiname{
        display: none;
    }
    .search_input{
        width: 200px;
    }
    .user_img{
        display: none;
    }
    header{
        justify-content: space-evenly;
    }
    .parents_tabs{
        /* a changer */
        display: none;
    }
    .inance{
        display: none;
    }
    .main_left{
        display: none;
    }
    .logout{
        position: static;
    }
    .dashboard{
        margin-top: 0;
    }
    .notif_burger{
        display: flex;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .notif{
        display: none;
    }
    .ul_burger{
        padding: 10px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .next_to_graph{
        
    }
}